<launch>
    <param name="voice_gender" value="female" />

    <node name="vision_node" pkg="ecosort_ai" type="vision_node.py" output="screen">
        <param name="camera_keyword" value="Jupiter" />
        <param name="confidence_threshold" value="0.6" />
    </node>

    <node name="brain_node" pkg="ecosort_ai" type="brain_node.py" output="screen" />

    <node name="voice_node" pkg="ecosort_ai" type="voice_node.py" output="screen" />
</launch>